
<div id="img-background">
    <div style="overflow: hidden;">

    <button (click)="goHome()" class="m-4" style="background-color: #ffffff; color: black;" mat-raised-button>Home</button>
    <div *ngIf="exibeMsg" class="flex space-x-4 justify-center p-8">
        <span class="font-extrabold text-3xl text-center" style="color: #fefefe;" >Você ainda não criou um deck</span>
    </div>
         <app-one-deck *ngFor="let deck of decks" [deck]="deck" [cards]="deck.cards" [nameDeck]="deck.name"></app-one-deck>
    </div>
</div>
