
<img id="img-background" src="../../../assets/fundo.jpg">

<div class="flex items-center justify-left h-screen ">
    <div class="flex space-x-4 justify-left p-8 shadow-md rounded-md menu" style="background-color: lightblue;">
        <div style="width: 400px; height: auto;">
            <img src="../../../assets/title.png" alt="">
        </div>
        <div class="btns">
            <button (click)="openMyDecks()" mat-raised-button>Decks Criados <mat-icon aria-hidden="false" fontIcon="view_carousel"></mat-icon></button> 
            <button (click)="openNew()" mat-raised-button>Criar Deck <mat-icon aria-hidden="false" fontIcon="add"></mat-icon></button>                     
        </div>
    </div>
  </div>
