<img id="img-background" src="../../../assets/fundo.jpg">

  <div class="flex items-center justify-center  ">
    <div class="flex space-x-4 justify-center p-8">
      <span class="font-extrabold text-3xl text-center" style="color: #ffcb08;" *ngIf="spinner && exibe_title">Carregando</span>

      <div  *ngIf="exibeFiltro" style="height: 350px; left: 50px;" class="info-deck bg-white p-8 shadow-md rounded-md">

        <h2 class="text-center">Cartas Adicionadas: {{contadorCards}}</h2>

        <mat-form-field style="width: 100%;">
          <mat-label>Pesquisar</mat-label>
          <input (keyup.enter)="getCardByName()" [(ngModel)]="userInput" matInput placeholder="Informe o valor e ENTER" style="width: 100%;" #input>
        </mat-form-field> 

        <mat-form-field style="width: 100%;">
          <mat-label>Nome do Deck</mat-label>
          <input  [(ngModel)]="nameDeck"  matInput placeholder="Nome do Deck" #input>
        </mat-form-field><br>

        
        <div class="flex w-full justify-around">
            <button [disabled]="paginatorOFF" (click)="onBeforePage()" mat-mini-fab style="background-color: #004a94; color: white;">
              <mat-icon>navigate_before</mat-icon>
            </button>
            
            <span style="right: 185px;" class="text-center mt-2">{{contadorPage}}/250</span> <br>
            
            <button [disabled]="paginatorOFF" (click)="onNextPage()" class="ml-3" mat-mini-fab style="background-color: #004a94; color: white;">
              <mat-icon>navigate_next</mat-icon>
            </button>
        </div>

        <div class="flex w-full justify-around">
          <button  class="mt-4 mr-2"  (click)="goHome()" style="background-color: #efefef; color: black; float:left; width: 50%;" mat-raised-button><mat-icon aria-hidden="false" fontIcon="arrow_left_alt"></mat-icon> Voltar</button>
         <button class="mt-4 ml-2" (click)="createDeck()" style="background-color: #004a94; color: white; width: 50%;" mat-raised-button>Salvar <mat-icon aria-hidden="false" fontIcon="add_circle"></mat-icon></button>
      </div>
    </div>
    <div class="scroll" style="overflow-x: scroll; max-height: 620px;">
      <div class="flex flex-wrap -mx-4 container p-4">
        <div  *ngFor="let item of deckCards" class="w-full md:w-1/2 lg:w-1/12 px-4 mb-4">
          <img *ngIf="!spinner" (click)="addCard(item)" [src]="item.images.small" class="w-36 h-auto">
        </div>
      </div>
    </div>
    </div>
  </div>

    
